{% extends "lab_4/layout/base.html" %}

{% block content %}
<h1>Portofolio</h1>
<img class="img-circle" src = "https://instagram.fcgk3-1.fna.fbcdn.net/t51.2885-15/e35/15875679_236111390176933_7570331298917515264_n.jpg") alt="My Photo" style=width:128px;height:128px> 
<p> Hello! Welcome to my website! </p>
<hr/>
<section name="bio">
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>    
</section>
<hr/>
<section name="about_me">
    <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>
<hr/>
{% endblock %}
